* {
  margin: 0;
}

html,body {
  height: 100%;
}

h1{
  font-size: 3em;
  margin-top: 0.5em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(201, 193, 193);
}

header {
  background-color: rgb(239, 214, 239);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  
}
footer {
  background-color: rgb(200, 209, 234);
  display: block;
  /* position: fixed; */
  width: 100%;
  padding: 15px;
}
nav a:hover, a:focus, a:active,
nav a:link {
  text-decoration: none;
  color: palevioletred;
}

nav > ul {
 display: flex;
  gap: 10px 20px;
 list-style: none;
 padding: 0;
 list-style: none;
}


/* OR */

/* nav > ul li {
  display: inline-block;
  margin: 0 5px  0 5px;
  padding: 0;
  list-style: none;
} */


aside, article {
  padding: 2em
}

aside {
  text-align: center;
}

article {
width: 75%;
}

img[src="images/banner2.jpeg"]{
  max-width: 100%;
}

.sub-title {
  background-color: white;
  font-size: 1.5em;
  padding: 10px;
}


p {
margin: .5em 0 .5em 0;
}

.logo {
  border-radius: 50%; 
  width: 200px;
  padding: 35px;
  padding-left: 0;
}

main {
 display: block; 
 background-image: url("images/background.png");
 min-height: 85%;
 padding-right: 3em;
 padding-bottom: 3em;
}

.columns {
  display: flex;
  
}

@media  only screen and (min-width:768px) {
  
  main{
    display: flex;
  }

  aside{
    margin-left: 2%;
  }

  .desktop {
    display: flex;
    margin-top: 40px;
  }
}

/* pies  */

.pie{
 
  width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.pie img {
  width: 100%;
}

.pie .title {
  font-weight: bold;
}

.pie .columns {
  width: 100%;
}

.pie .price {
  text-align: right;
}

.pie .columns div {
  width: 50%;
}

.pie button {
  background-color: palevioletred;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10%;
  color: white;
}
